.table-container__searchbar {
  margin: 5px 0;
  display: flex;
  gap: 5px;
}
.searchbar {
  padding: 5px;
}

.table-container__table {
  width: 100%;
}
.pagination {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pagination__action {
  display: flex;
  gap: 5px;
}

.btn {
  padding: 5px 10px;
  background-color: #4caf50; /* Green background */
  color: white;
  font-size: 12px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
  user-select: none;
}

.btn:hover {
  background-color: #33b039; /* Darker green on hover */
}

.btn:active {
  background-color: #107213; /* Even darker green on click */
}

table {
  border-collapse: collapse;
}

tr {
  transition: background-color 0.2s ease-in-out;
}

tr:hover {
  background-color: rgba(236, 234, 234, 0.806);
}

th {
  background-color: #f2f2f2;
  border: 1px solid rgb(216, 208, 208);
  padding: 12px;
}

td {
  border: 1px solid rgb(216, 208, 208);
  padding: 10px;
  text-align: center;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
